# HomeWord 1 : Linear Regression
本次实验的目标： 由前9个小时的18个特征预测第10个小时的PM2.5
[参考](https://colab.research.google.com/drive/131sSqmrmWXfjFZ3jWSELl8cm0Ox5ah3C#scrollTo=NzvXP5Jya64j)

In [47]:
import sys
import pandas as pd
import numpy as np
from  tqdm import tqdm

## Preprocssing 数据预处理
取需要的数值部分，将'RAINFALL'全部设置为0

In [48]:
data = pd.read_csv('./train.csv', encoding='big5')

In [49]:
data.head()

,日期,測站,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,2014/1/1,豐原,AMB_TEMP,14,14,14,13,12,12,12,...,22,22,21,19,17,16,15,15,15,15
1,2014/1/1,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,豐原,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,2014/1/1,豐原,NMHC,0.2,0.15,0.13,0.12,0.11,0.06,0.1,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08
4,2014/1/1,豐原,NO,0.9,0.6,0.5,1.7,1.8,1.5,1.9,...,2.5,2.2,2.5,2.3,2.1,1.9,1.5,1.6,1.8,1.5

In [50]:
# 抛去数据的前三列不要了
data = data.iloc[:, 3:]
# 将为NR的数据变为 0
data[data == 'NR'] = 0
raw_data = data.to_numpy()

## Extract Features 特征提取 - 1 
将原始的4320*18的资料依照每个月组成12个月 18*480的数据类型(12*18*480) 其中18是feature 480 是 20*24 得来的

In [51]:
month_data = {}
for month in range(12):
    sample = np.empty([18, 480]) # 创建一个空样本大小为18*480
    for day in range(20): # 一个月只取了20天
        # 从raw_data中取数据 将数据填充进 sample
        sample[:, day * 24 : (day + 1) * 24] = raw_data[18 * (20 * month + day) : 18 * (20 * month + day + 1), :]
    month_data[month] = sample

## Extract Features 特征提取 - 2
每个月有480小时，每9个小时为一个data，每个月会有471个data，故总资料数为471\*12笔，而每笔数据有9\*18的feature(一个小时18个feature)

对应的target则有471 * 12 个 （第10个小时的PM2.5）

In [52]:
# 定义输入输出的大小
x = np.empty([12 * 471, 18 * 9], dtype=float)
y = np.empty([12 * 471, 1], dtype = float)

for month in range(12):
    for day in range(20):
        for hour in range(24):
            # 防止今天的数据跑到明天去
            if day == 19 and hour > 14:
                continue
            # 输入的sample大小为9*18
            x[month * 471 + day * 24 + hour, :] = month_data[month][:,day * 24 + hour : day * 24 + hour + 9].reshape(1,-1)
            y[month * 471 + day + hour, 0] = month_data[month][9, day * 24 + hour + 9]

## Normalize 归一化

In [53]:
mean_x = np.mean(x, axis=0)
std_x = np.std(x, axis= 0)
for i in range(len(x)):
    for j in range(len(x[0])):
        if std_x[j] != 0:
            x[i][j] = (x[i][j] - mean_x[j]) / std_x[j]

上面的数据处理部分已懵逼！ 需要再看看咋做的 并想为啥这样操作

## Split Training Data Into "train_set" and "validation_set"
生成训练用的数据集train_set和验证数据局validation_set

In [54]:
import math
# floor() 返回数字的下舍整数。 取百分之80做训练集 剩下的 百分之20做测试集
x_train_set = x[: math.floor(len(x) * 0.8), :]
y_train_set = y[: math.floor(len(y) * 0.8), :]
x_validation = x[math.floor(len(x) * 0.8):, :]
y_validation = y[math.floor(len(x) * 0.8):, :]

## Training
使用Adagrad算法作为优化器

In [55]:
# 因为常数项的存在所以dim要多加一个维度
dim = 18 * 9 + 1
w = np.zeros([dim, 1])
x = np.concatenate((np.ones([12 * 471, 1]), x), axis = 1).astype(float)

# 设置学习率
learning_rate = 100
# 迭代次数
iter_time = 1000
# adagrad 
adagrad = np.zeros([dim, 1])
eps = 0.000000001
last_loss = 0
for t in tqdm(range(iter_time)):
    # rmse
    loss = np.sqrt(np.sum(np.power(np.dot(x, w) - y, 2))/471/12)         
    last_loss = loss
    # 计算梯度
    gradient = 2 * np.dot(x.transpose(), np.dot(x, w) - y)
    # adgrade
    adagrad += gradient ** 2
    # 更新参数
    w = w - learning_rate * gradient / np.sqrt(adagrad + eps)

print("\n" + "Loss:" + str(last_loss))
# 保存权重
np.save('weight.npy', w)

100%|██████████| 1000/1000 [00:00<00:00, 1071.53it/s]
Loss:8.823287772292002

## Testing
导入test data 并且以训练集的方式预处理，使得测试数据形成240个维度为18\*9+1

In [57]:
testdata = pd.read_csv('./test.csv', header = None, encoding = 'big5')
test_data = testdata.iloc[:, 2:]
test_data[test_data == 'NR'] = 0
test_data = test_data.to_numpy()
test_x = np.empty([240, 18*9], dtype = float)
for i in range(240):
    test_x[i, :] = test_data[18 * i: 18* (i + 1), :].reshape(1, -1)

# 归一化
for i in range(len(test_x)):
    for j in range(len(test_x[0])):
        if std_x[j] != 0:
            test_x[i][j] = (test_x[i][j] - mean_x[j]) / std_x[j]
test_x = np.concatenate((np.ones([240, 1]), test_x), axis = 1).astype(float)

## Prediction

In [59]:
# 导入权重
w = np.load('weight.npy')
# 解决输出
ans_y = np.dot(test_x, w)

## Save Prediction to CSV File

In [62]:
import csv
with open('prediction.csv', mode='w', newline='') as prediction_file:
    csv_writer = csv.writer(prediction_file)
    header = ['id', 'value']
    csv_writer.writerow(header)
    for i in range(240):
        row = ['id_' + str(i), ans_y[i][0]]
        csv_writer.writerow(row)

['id', 'value']
['id_0', 2.741404287042598]
['id_1', -4.370884456673592]
['id_2', 18.26244373270194]
['id_3', 9.598128127340377]
['id_4', 2.0892488386282793]
['id_5', 1.4738494998130225]
['id_6', 7.002309849867746]
['id_7', 4.225084371439914]
['id_8', 3.1922017854384555]
['id_9', 7.0000374111473604]
['id_10', 1.6519333721442475]
['id_11', 1.3413967050490694]
['id_12', 0.8044668636103403]
['id_13', 5.335244584422716]
['id_14', 2.9786019573392304]
['id_15', -1.6292954037544511]
['id_16', 3.0581183366715585]
['id_17', 6.016887626181646]
['id_18', 0.1824775984498146]
['id_19', -0.747441981553358]
['id_20', 2.598173959640545]
['id_21', -1.183035165744311]
['id_22', 3.9779106193374396]
['id_23', 1.4861291556116853]
['id_24', 0.2242522454175493]
['id_25', 7.600797728995835]
['id_26', 8.134195848237]
['id_27', -70.80100692026932]
['id_28', 3.0767976597371054]
['id_29', 4.793725407740482]
['id_30', 12.07104554541126]
['id_31', 0.9229460126120124]
['id_32', -0.47614033491622587]
['id_33', -1.796705496488335]
['id_34', -2.560803709674591]
['id_35', 1.4871255981427196]
['id_36', -1.1027686981250673]
['id_37', 2.019907607903299]
['id_38', 5.601245801500596]
['id_39', -0.20577799340463798]
['id_40', -6.14501345246129]
['id_41', 2.1727919305473193]
['id_42', 1.5422026484871827]
['id_43', 13.671056580551674]
['id_44', 3.3190426489865494]
['id_45', 13.905632010022487]
['id_46', 4.708430122971356]
['id_47', -3.5407623739160705]
['id_48', 11.089419944735607]
['id_49', -3.761457377406749]
['id_50', -0.925880902104554]
['id_51', 5.040791019107569]
['id_52', 2.9369766727395508]
['id_53', -3.1704874461421255]
['id_54', 5.671414375446364]
['id_55', -8.26203095804542]
['id_56', 2.880069723381781]
['id_57', 2.1168848972982253]
['id_58', -1.5017629902786567]
['id_59', -2.174218914189616]
['id_60', 8.229782279103958]
['id_61', 5.883196565125324]
['id_62', 5.0883423289629635]
['id_63', 2.384395579541609]
['id_64', 3.1949420784523603]
['id_65', 5.530271411567794]
['id_66', 3.7465408900816546]
['id_67', -0.7525476095079942]
['id_68', -3.1485329160427753]
['id_69', -1.0636212253493778]
['id_70', -4.4642979085414005]
['id_71', 7.358324361477276]
['id_72', -6.928317226667215]
['id_73', -6.791201179662398]
['id_74', -0.09491916889864704]
['id_75', -1.4719678538825605]
['id_76', 7.051415507659122]
['id_77', 7.140834732367418]
['id_78', 6.62883663468515]
['id_79', -1.0174475802708542]
['id_80', 2.165388525265305]
['id_81', 4.205619504964194]
['id_82', 4.9526436127391555]
['id_83', -2.040181136942323]
['id_84', 3.047692688750745]
['id_85', 9.441609010849149]
['id_86', 0.37158522647073866]
['id_87', -8.779591457475066]
['id_88', 6.345006900767257]
['id_89', 4.020610267707344]
['id_90', 0.9915640764185554]
['id_91', 1.2946721922131985]
['id_92', -0.7848389410748347]
['id_93', 6.982791561352606]
['id_94', 3.0214689330516826]
['id_95', -1.3838401139572802]
['id_96', -0.11592264188680357]
['id_97', 1.298163535956773]
['id_98', 1.4714795050205751]
['id_99', 6.21055617905182]
['id_100', 0.4095494345173325]
['id_101', 5.864006247881255]
['id_102', 0.33975928071341954]
['id_103', 1.3982740685204882]
['id_104', -4.050050517805818]
['id_105', 3.339858895697885]
['id_106', 3.1392326494994194]
['id_107', 4.390949466538892]
['id_108', 4.945272597133112]
['id_109', 1.6063291301498595]
['id_110', 6.097944813478471]
['id_111', 4.034499217075373]
['id_112', 3.153304520162993]
['id_113', -9.241270096638564]
['id_114', 8.257137151098135]
['id_115', 1.4473115014542994]
['id_116', -0.6381516378149339]
['id_117', 4.257645462332984]
['id_118', -1.1627802937771676]
['id_119', 2.883260618128947]
['id_120', -0.2396839113257343]
['id_121', 8.175872193873776]
['id_122', 3.9863884600645854]
['id_123', 2.9061660259893287]
['id_124', 9.007919333441093]
['id_125', 2.3673592999743516]
['id_126', 5.453504877067562]
['id_127', 6.019428726013805]
['id_128', 10.25425522585763]
['id_129', -1.7706814232677957]
['id_130', 9.755173199775994]
['id_131', -3.4818910289520275]
['id_132', 2.639765670134196]
['id_133', 10.582548680117766]
['id_134', 7.715806236647305]
['id_135', 1.4700697361051889]
['id_136', 5.167375928462594]
['id_137', 4.576129775429587]
['id_138', -1.9382802504261747]
['id_139', -0.36141126867406115]
['id_140', 1.6372940544842542]
['id_141', -4.20706022036917]
['id_142', 8.765569381027696]
['id_143', 9.661912120335163]
['id_144', 3.612360105639871]
['id_145', 6.700914583017915]
['id_146', 1.734431192005374]
['id_147', 7.028012534776565]
['id_148', 4.989626212804092]
['id_149', -3.934448586366333]
['id_150', 2.7546761054703914]
['id_151', -1.4971179157772543]
['id_152', 1.6106855557960387]
['id_153', 12.738186022422726]
['id_154', -11.130367367700597]
['id_155', 0.15577022382784378]
['id_156', 6.149467716630223]
['id_157', 3.624658294063064]
['id_158', 10.489053964772005]
['id_159', 1.222228213593695]
['id_160', 1.7695841980500484]
['id_161', -4.17255070573149]
['id_162', 3.7571756248179344]
['id_163', 3.054833432401444]
['id_164', 0.22722697579457574]
['id_165', -6.2814790341791635]
['id_166', 1.489377791361072]
['id_167', 12.984052420691015]
['id_168', -2.112535326283819]
['id_169', -4.774221646251654]
['id_170', -3.4175008586313673]
['id_171', 6.687941317425004]
['id_172', 7.819821827536861]
['id_173', 7.4466174614937515]
['id_174', 6.66609936761424]
['id_175', -3.978734118970273]
['id_176', 5.707226889508721]
['id_177', 0.20258163745346813]
['id_178', -0.18388152204259]
['id_179', 4.641306037363263]
['id_180', 7.2231532667985]
['id_181', -0.9101551825210805]
['id_182', 4.188822114047198]
['id_183', -5.328924003375842]
['id_184', 0.4930738927905658]
['id_185', 2.723978129176217]
['id_186', 3.7609210334977963]
['id_187', -6.236400480276512]
['id_188', 2.6452103674665866]
['id_189', -19.755113133007967]
['id_190', -4.381499258320961]
['id_191', 3.2665144763873677]
['id_192', 8.10790002468763]
['id_193', -0.5628544252305439]
['id_194', 1.3034170517642458]
['id_195', 2.1656111234777384]
['id_196', 3.4146848544136637]
['id_197', 7.440663940345672]
['id_198', -4.267437694402908]
['id_199', -2.9616549136948747]
['id_200', 7.901489234345846]
['id_201', 0.03769849575744999]
['id_202', 3.6389010812580223]
['id_203', -5.68500188483887]
['id_204', 1.0116321717940728]
['id_205', 8.956329779127278]
['id_206', 6.634079499607324]
['id_207', 4.383195801821946]
['id_208', 6.091503907665739]
['id_209', 2.9877265104650235]
['id_210', 12.131727012437812]
['id_211', 2.8948438652228936]
['id_212', 6.311993625006117]
['id_213', 4.202862244229348]
['id_214', -1.3842875507008037]
['id_215', 3.9190952837246495]
['id_216', 6.999729713446495]
['id_217', -0.6481004862510593]
['id_218', -0.6104612520862034]
['id_219', -4.134062496038894]
['id_220', 6.0065426792038465]
['id_221', 8.657384248858419]
['id_222', 13.774198143499245]
['id_223', -4.238574390417762]
['id_224', 9.321766590701085]
['id_225', 3.5278946157275914]
['id_226', -1.6175133919415252]
['id_227', 5.989660427064478]
['id_228', 1.6894258597513212]
['id_229', -2.2197535629332954]
['id_230', 0.40117206620997337]
['id_231', 1.322285942427592]
['id_232', -1.7032322442276322]
['id_233', -0.12680806570775616]
['id_234', 7.62344562375512]
['id_235', 3.2209993180309944]
['id_236', -4.807476570066573]
['id_237', 4.8152345962671035]
['id_238', 3.408997659328489]
['id_239', 6.577087236654499]

## 总结
结果好像不是很好哎，因为预测的pm2.5的值竟然有负数！！ 这是不可能的啊
如何优化呢， 选择不同的优化器，是不用同的model（LSTM）

In [72]:
count = 0
for i in range(len(ans_y)):
    if (ans_y[i] < 0):
        count += 1

count/len(ans_y)

0.29583333333333334